$headerBg = #282828;
$headerCl = #fff;
$fontClWhite = #fff;
$bdClWhite = #fff;
$bgWhite = #fff;
$bgBlack = #000;
$bdCl = #f3f3f3;
$btnBd = #E8E8E8;
$lineCl = #eee;
$grayCl = #656565;
$themeCl = #E5004F;
$darkRed = #d5094e;
$greenCl = #14AE67;
$pinkCl = #F17394;
$purple = #b20086;
$blueCl = #4C80FF;
$bodyBg = #eee;
$titleCl = #111;
$subCl = #6e6e6e;
$ipCl = #333333;
$tipsCl = #bbb;
$itemBd = #E3E3E3;
$ttBd = #CECECE;
$placeCl = #ccc;
$failBg = #6B6A6A;
$agBg = #FFFAFC;
$noneBg = #EBEBEB;
$blockBg = #999;
$clearCl = #a9a9a9;
// 字号
$headerFz = 36px;